p {
  margin-bottom: 12px;

}

h1 {
  font-weight: 400;
  font-size: 36px;
  margin-bottom: 0px;
}
h2 {
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 8px;


}
h3 {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 0px;
}



#header {
  text-align: center;
  margin-bottom: 32px;

}

#main {

}

#footer {
  text-align: center;
  margin-top: 64px;
}
